<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h3>Queremos te ouvir</h3>
        <p>
            Duvidas ou sugestões? Fale conosco
        </p>
        <p>
            <span>
                <img src="~/images~/images/Envelope-icon24.png" />
            </span>
            <h5><a href="mailto:tiagoo.lima15@gmail.com">Enviar um e-mail</a></h5>
            <br />
            <span>
                <img src="~/images~/images/phone-app-icon.png" />
            </span>
            <h5>(00) 00000-0000</h5>
            <br />
            <span>
                <img src="~/images~/images/Home-iconred.png" />
            </span>
            <h5>Sumaré - SP</h5>
        </p>
    </div>
</div>